<div class="page-header">
    <div class="ui left floated header">
        <i class="users icon"></i>
        <div class="content">Кафедра "{{department.name}}"</div>
    </div>
    <div class="ui right floated icon top pointing circular dropdown button">
	    <i class="settings icon"></i>
	    <div class="menu">
		    <div class="item">Видалити</div>
		    <div class="divider"></div>
		    <div class="item">Перейменувати</div>
	    </div>
    </div>
</div>

<div class="ui clearing divider"></div> 

<div class="component-container">
    <sm-menu class="secondary pointing">
        <a sm-item [routerLink]="['./teachers']" [routerLinkActive]="'active'">Викладачі</a>
    </sm-menu>
    
    <router-outlet></router-outlet>

</div>